PUBLIC_SITE_URL=https://sequelwebstudio.com
PUBLIC_CONTACT_EMAIL=jaweeks7@gmail.com
PUBLIC_GA4_ID=
PUBLIC_COOKIEYES_ID=
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_KEY=
PAGESPEED_API_KEY=
GMAIL_USER=jaweeks7@gmail.com
GMAIL_APP_PASSWORD=
PUBLIC_SHOW_PROPOSED_SITE=false
